<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/statics/img/vite.svg" type="image/x-icon">
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <script type="module" src="/src/assets/ts/main.ts"></script>
    <title>{{ title }}</title>
</head>

<body>
    <nav class="flex justify-center items-center w-full h-16 bg-slate-200 text-slate-900">
        <ul class="flex gap-4">
            {{#each navigation as |item| }}
            <li><a href="{{../base_url}}{{item.url}}">{{item.name}}</a></li>
            {{/each}}
        </ul>
    </nav>
    <main class="main min-h-screen p-4">
        {{> @partial-block }}
    </main>
</body>

</html>